
    //packages.aliyun.com/604c1a6bf11bae7ca07d6ad3/npm/npm-registry/:_authToken=945e1023-d78b-46c0-b061-1a3fc2723cb2
    engine-strict = true

    @xybot:registry=https://packages.aliyun.com/604c1a6bf11bae7ca07d6ad3/npm/npm-registry/
    @xybot-icons:registry=https://packages.aliyun.com/604c1a6bf11bae7ca07d6ad3/npm/npm-registry/
    @xbot-fe:registry=https://packages.aliyun.com/604c1a6bf11bae7ca07d6ad3/npm/npm-registry/
  